/*
author:
initialized by Olle
edited by Kylie and Willemijn
 */

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');


@font-face {
    font-family: Ubuntu-Regular;
}

@font-face {
    font-family: Ubuntu-Bold;
}

/*////////////////////////////////////////////////////////////////*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    min-height: 100%;
    font-family: Ubuntu-Regular, sans-serif;
}

body {
    display: flex;
    background: #000 no-repeat;
}

nav {
    top: 2%;
    left: 1.5%;
    position: absolute;
    width: 39%;
    height: 8%;
    letter-spacing: 2px;
    z-index: 200;
}

.login-div {
    background: white;
    color: black;
    left: 50%;
    top: 50%;
    border-radius: 2px;
    position: relative;
    padding: 0 30px 30px 30px;
    width: 420px;
    height: 320px;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.text_username {
    outline: 0;
    background: #d9d9d9;
    padding: 10px;
    width: 350px;
    height: 50px;
    border: none;
    font-size: 22px;
}

.text_password {
    outline: 0;
    background: #d9d9d9;
    padding: 10px;
    width: 350px;
    height: 50px;
    border: none;
    font-size: 22px;
    margin-top: 30px;
}

/* login button */
.login_button {
    width: 350px;
    height: 50px;
    text-align: center;
    background: #000;
    border: 0;
    color: white;
    padding: 10px;
    font-size: 22px;
    cursor: pointer;
    margin-top: 28px;
    transition: all 0.2s ease-out;
}

.login-form {
    height: 50px;
}

table {
    margin-top: 5px;
}

.login_button:hover {
    background: #282829 !important;
    border-color: #282829 !important;
}

.signout_button:hover {
    color: red;
}

.create-user-button:hover {
    color: #39ae3f;
}


.lamblogo_main {
    float: left;
    position: relative;
    max-height: 80%;
    color: white;
    z-index: 200;
}

.forgotpw {
    position: absolute;
    text-align: center;
    left: 50%;
    color: black;
    margin: 12px 0 0;
    width: 260px;
    transform: translateX(-50%);
}

.forgotpw a {
    color: #58B19F;
    text-decoration: none;
}

.login-text {
    font-weight: 100;
    position: absolute;
    text-align: center;
    font-size: 18px;
    left: 50%;
    width: 380px;
    margin-top: 28px;
    transform: translateX(-50%);
}

.login-form {
    margin-top: 30px;
    padding-top: 0;
}

.div_main {
    position: relative;
    left: 50%;
    top: 50%;
    width: 97%;
    height: 96%;
    transform: translate(-50%, -50%);
}

.display {
    min-height: 500px;
    max-height: 500px;
    overflow-y: scroll;
}

.div_left {
    position: absolute;
    display: inline-block;
    height: 93%;
    width: 39%;
    bottom: 0;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.div_right {
    position: relative;
    float: right;
    display: inline-block;
    height: 100%;
    width: 59%;
    background: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* FOOTER */
footer {
    z-index: 20;
    position: absolute;
    height: 65px;
    width: 100%;
    background: none;
    font-size: 18px;
    bottom: 0;
    overflow: hidden;
}

/* styling for the footer image */
.hanze_footer {
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 20;
    height: 55px;
    width: 200px;
}

.lamblogo_footer {
    position: absolute;
    max-width: 400px;
    max-height: 50px; !important;
    bottom: 5px;
    z-index: 20;
    left: 20px;
}

.error {
    color: red;
    text-align: left;
    position: absolute;
    width: 350px;
    border: 0;
    font-size: 15px;
    padding-top: 4px;

}

.site_logo {
    max-height: 50px; !important;
    max-width: 400px;
}

/* The grid: Four equal columns that floats next to each other */
.column {
    display: inline-block;
    margin-right: 3%;
    height: 108px;
    width: 108px;
}

.row {
    margin-top: 4%;
    width: auto;
}



/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
    position: relative;
    max-width: 81%;
    height: auto;
    float:left;
    display: none;
}

#image_canvas {
    position:absolute;
    max-width: 100%;
    top:0px;
    left:0px;
    /*background-color: rgba(255, 0, 0, .1);*/
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 20px;
    left: 15px;
    color: white;
    font-size: 20px;
}


/* Closable button inside the image */
.closebtn {
    z-index: 99;
    top: 2px;
    position: absolute;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.showMetadata {
    position: absolute;
    /*top: 10px;*/
    /*right: 15px;*/
    /*color: white;*/
    right: 10px;
    bottom: 20px;
    cursor: pointer;

}

.dir_img {
    margin-left: 5px;
}

.directory_folders label{
    white-space: normal;
    display: inline-block;
    overflow-x: hidden;
    max-width: 100px;
    text-align: center;
    text-transform: uppercase;
}

.directory_folders {
    margin-left: 12px;
    max-height: 250px;
    overflow-y: scroll;
}

.tag {
    position: absolute;
    background: red;
    -webkit-border-radius: 20px;
    -moz-border-radius: 15px;
    border-radius: 20px;
    border:1.5px solid white;
    height:14px;
    width:14px;
    z-index:200;
}

.existingMeta {
    position: absolute;
    -webkit-border-radius: 20px;
    -moz-border-radius: 15px;
    border-radius: 20px;
    border: 2px solid;
    border-color: white;
    height:14px;
    width:14px;
    z-index:200;
    display: none;
}

.folderdiv {
    float: left;
    margin-left: 13px;
    margin-right: 10px;
}

.folderdiv img {
    opacity: 0.8;
}

.folderdiv img:hover {
    opacity: 1;
}

.directory_files {
    overflow-y: scroll;
    height: auto;
    font-weight: bold;
    font-size: 28px;
    width: auto;
    margin-left: 20px;
    margin-top: 8px;
    float: left;
}

.backfolder_button {
    margin-top: 5px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin-left: 20px;
    opacity: 0.8;
}

.backfolder_button:hover {
    opacity: 1;
}

.folder_button_label {
    margin-left: 8px;
}

.folder_button {
    cursor: pointer;
}


.breadcrumb {
    margin-left: 5px;
}

.crumbdiv {
    display: inline-block;
}


.folder_title {
    margin-left: 5px;
}


/*.tag span {*/
/*    position: absolute;*/
/*    width: 20px;*/
/*    color: #FFFFFF;*/
/*    font-family: Helvetica, Arial, Sans-Serif;*/
/*    font-size: .8rem;*/
/*    text-align:center;*/
/*    margin:4px 0;*/
/*}*/

.expandedImg {
    max-width: 100%;
    height: auto;
    top:0px;
    left:0px;
}

.insideWrapper {
    width:100%;
    height:100%;
    position:relative;
}

.upload_file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload_file + label {
    color: white;
    display: inline-block;
    font-size: 14px;
    padding: 4px;
    margin-right: 4px;
    background-color: #39ae3f;
    transition: all 0.2s ease-out;
    height: 52px;
    width: 180px;
    border-radius: 0 0 5px 5px;
    overflow-x: hidden;
    float: right;
    text-align: center;
}

.upload_file_text {
    margin-top: 14px;
    letter-spacing: 1.1px
}

.upload_file:focus + label,
.upload_file + label:hover,
.upload_button:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

.hello_message {
    text-align: right;
    width: 100%;
    display: inline-block;
    float: right;
    font-size: 2.1vh;
    color: white;
}

.menu-div {
    margin-top: 5px;
    right: 3%;
    float: right;
    position: relative;
    width: 240px;
    height: 40px;
}

/* sign out button */
.signout_button, .create-user-button {
    color: white;
    width: auto;
    position: relative;
    float: right;
    text-align: right;
    background: none;
    border: 0;
    font-size: 2.1vh;
    cursor: pointer;
    transition: all 0.1s ease-out;
    text-decoration: none;
    margin-top: 2px;
    font-weight: 300;
}

.signout_button {
    margin-left: 10px;
}

#searchBar {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 15%;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-right: 250px;
}
#searchBarTag {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 14%;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-right: 14px;
}

#search {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 14%;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-right: 14px;
}
#searchBarType {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 15%;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-right: 14px;
}
#searchBarValid {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 15%;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-right: 14px;
}


.upload_button {
    bottom: 0;
    height: 52px;
    width: 120px;
    letter-spacing: 1.1px;
    overflow: hidden;
    border: 2px solid grey;
    background: grey;
    color: white;
    font-size: 14px;
    padding: 4px;
    border-radius: 0 0 0 5px;

    display: inline-block;
    float: right;
    right: 0;
    transition: transform 0.2s ease-out;
}

.label_uploadfile {
    height: 10px;
}


.fileupload {
    display: table;
    position: absolute;
    width: 330px;
    height: 52px;
    right: -1px;
    top: 0;
}

.metadata_input {
    border-radius: 6px;
    height: 40px;
    font-size: 14px;
    width: 200px;
}

.fail_upload {
    position: absolute;
    display: none;
    top: 60px;
    right: 15px;
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.fail_rename {
    position: absolute;
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.dir_options_div {
    position: absolute;
    width: 100%;
    height: 52px;
    left: 0;
    bottom: 0;
}

.dir_options {
    font-family: Ubuntu-Regular, sans-serif;
    bottom: 0;
    height: 52px;
    width: 120px;
    letter-spacing: 1.1px;
    overflow: hidden;
    border: 2px solid grey;
    background-color: grey;
    margin-right: 4px;
    color: white;
    font-size: 14px;
    padding: 4px;
    border-radius: 5px 5px 0 0;
    display: inline-block;
    float: left;
    left: 0;
}

.dir_options_create {
    font-family: Ubuntu-Regular, sans-serif;
    bottom: 0;
    height: 52px;
    width: 175px;
    letter-spacing: 1.1px;
    overflow: hidden;
    border: 2px solid #39ae3f;
    background-color: #39ae3f;
    margin-right: 4px;
    color: white;
    font-size: 14px;
    padding: 4px;
    border-radius: 0 5px 0 0;
    display: inline-block;
    float: left;
    left: 0;
    transition: all 0.2s ease-out;
}

.dir_options:focus + label,
.dir_options + label:hover,
.dir_options:hover,
.dir_options_create:hover {
    transform: translateY(3px);
    cursor: pointer;
}

.dir_img {
    margin-top: 2px;
    margin-left: 5px;
    width: 10%;
    cursor: pointer;
}

.div_right_placeholder {
    position: absolute;
    color: darkgray;
    text-transform: uppercase;
    text-align: center;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: darkgrey 2px dashed;
    padding: 15px;
}

h2 {
    margin-top: 8px;
    margin-left: 10px;
    color: #39ae3f;
    width: 145px;
    font-size: 26px;
    font-weight: bolder;
    cursor: default;
}

h3 {
    position: absolute;
    float: left;
    margin-top: 8px;
    margin-left: 10px;
    color: #39ae3f;
    font-size: 26px;
    font-weight: bolder;
    cursor: default;
}

.metadata-input {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: none;
    width: 300px;
}
.tag_input {
    color: white;
    width: 155px;
    border: none;
    padding: 10px;
    height: 42px;
    background-color: gray;
    font-size: 18px;
}

datalist {
    display: none;
}

.submit_metadata {
    color: white;
    width: 95px;
    margin-top: 5px;
    margin-left: 5px;
    border: none;
    font-size: 16px;
    height: 42px;
    border-radius: 0;
    transition: all 0.2s ease-out;
}

.info_placeholder {
    font-weight: bold;
}

.filename {
    font-size: 12px;
    font-weight: lighter;
}

.roi_message {
    position: absolute;
    font-weight: bold;
    font-size: 18px;
}

.save_roi {
    color: white;
    margin-right: 4px;
    position: relative;
    float: right;
    border: none;
    font-size: 14px;
    height: 55px;
    width: 135px;
    border-radius: 3px 0 0 3px;
    transition: all 0.2s ease-out;
    overflow-x: hidden;
    right: -4px;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    background-color: grey;
}

.create_generaltag, .create_xytag, .draw_rect_roi, .keyVal {
    font-weight: 500;
    position: relative;
    float: right;
    color: white;
    font-size: 15px;
    margin-right: 4px;
    height: 45px;
    width: 140px;
    border-radius: 2px;
    transition: all 0.2s ease-out;
    border: none;
    text-align: center;
    margin-top: 10px;
    background-color: #39ae3f;
}

.create_xytag:hover, .create_generaltag:hover, .draw_rect_roi:hover , .save_roi:hover, .keyVal:hover{
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    -ms-transform: translateX(-3px);
    -o-transform: translateX(-3px);
    transform: translateX(-3px);
}

.create_xytag, .create_generaltag, .draw_rect_roi, .keyVal {
    cursor: pointer;
    background-color: #39ae3f;
}


.options_buttons {
    display: none;
    width: 150px;
    height: 450px;
    position: absolute;
    right: 0;
}

.create-header {
    border-bottom: 4px solid;
    padding: 4px 20px;
    margin: 5px 0 0 5px;
    border-top: 4px solid;
    text-align: center;
    width: 140px;
    display: inline-block;
    position: relative;
    font-size: 20px;
    letter-spacing: 3px;
    color: #39ae3f;
}

.show-metadata {
    width: 140px;
    border-bottom: 4px solid;
    padding: 4px 20px;
    margin: 10px 5px 5px 5px;
    border-top: 4px solid;
    text-align: center;
    display: inline-block;
    position: relative;
    font-size: 20px;
    letter-spacing: 3px;
    color: #39ae3f;
}

.show-keyvalue {
    width: 100px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    float: right;
    margin-right: 12px;
}

#tagged {
    display: none;
    z-index: 200;
}

.click_on_image {
    position: absolute;
    bottom: 60px;
    display: none;
    font-size: 18px;
    font-weight: bold;
    left: 10px;
}

.metadata_upload_feedback {
    position: absolute;
    margin-top: 10px;
}

.fileupload i {
    color: dodgerblue;
}


.tooltip {
    position: absolute;
}

.tooltip i {
    margin-top: 18px;
    float: right;
}


.tooltip_text {
    font-size: 13px;
    width: 250px;
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    margin-top: 44px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
    left: -210px;
}

.tooltip .tooltip_text::after {
    content: "";
    position: absolute;
    top: -14px;
    left: 86%;
    margin-top: 0;
    margin-left: -5px;
    border-width: 8px;
    z-index: 200;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip i:hover + .tooltip_text {
    visibility: visible;
    opacity: 1;
}

.newdir {
    width: 175px;
}

/*#keyValue {*/
    /*position: relative;*/
    /*margin-top: 20px;*/
    /*float: right;*/
    /*cursor: pointer;*/
/*}*/

#getKeyValue {
    position: relative;
    margin-top: 20px;
    float: right;
    cursor: pointer;
}

.img_options {
    background: #39ae3f;
    border: 2px solid #39ae3f;
    font-family: Ubuntu-Regular, sans-serif;
    bottom: 0;
    height: 52px;
    width: 120px;
    letter-spacing: 1.1px;
    overflow: hidden;
    margin-right: 4px;
    color: white;
    font-size: 14px;
    padding: 4px;
    border-radius: 5px 5px 0 0;
    display: inline-block;
    float: left;
    left: 0;
    transition: all 0.2s ease-out;
}

#keyValueDiv {
    border-radius: 5px;
    padding: 15px;
    background-color: #cccccc;
    height: auto;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 400px;
    display: none;
    border: 4px #39ae3f;
    max-height: 200px;
    overflow-y: scroll;
}


.keyvaldiv {
    padding: 4px;
    width: 100%;
    display: inline-block;

}

.keyvalueform input {
    border-radius: 3px;
    border: 2px dimgrey;
    padding: 10px;
    margin-right: 5px;
}

.added_key {
    width: 115px;
    float:left;

}

.added_value {
    width: 200px;
    float:right;
}


.keyvaldiv label {
    top: 8px;
    position: relative;
    text-transform: uppercase;
}

.key-value-btn {
    color: white;
    border: none;
    border-radius: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 16px;
    width: 120px;
    height: 40px;
}

.input-remove-button {
    z-index: 400;
    margin-left: 5px;
    float: right;
    cursor: pointer;
}

#submit_key_value {
    background-color: grey;
    margin-right: 9px;
    float: right;
}


#add_key_value {
    margin-right: 9px;
    background-color: #39ae3f;
    float:left;
}


.img_options:focus + label,
.img_options + label:hover,
.img_options:hover {
    transform: translateY(3px);
    cursor: pointer;
}

.loader {
    position: absolute;
    top: 65px;
    right: 10px;
    display: none;
    border: 8px solid lightgray;
    border-radius: 50%;
    border-top: 8px solid #555555;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#nav-icon4 {
    top: 20px;
    left: 300px;
    width: 40px;
    height: 35px;
    position: absolute;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon4 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -1px;
    left: 7px;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 28px;
    left: 7px;
}


.switch {
    position: relative;
    display: none;
    width: 60px;
    height: 34px;
    margin: 5px 10px 5px 0;
    float: right;
}

.switch2 {
    position: relative;
    display: none;
    width: 60px;
    height: 34px;
    float: right;
    margin: 5px 10px 5px 0;
}

.switch3 {
    position: relative;
    display: none;
    width: 60px;
    height: 34px;
    margin: 10px 10px 5px 0;
    float: right;
}

.switch input, .switch2 input, switch3 input {
    opacity: 0;
    width: 0;
    height: 0;
}

#togBtn3 {
    opacity: 0;
    width: 0;
    height: 0;
}

#togBtn4 {
    opacity: 0;
    width: 0;
    height: 0;
}

#show_ROI {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-info {
    float: right;
    font-size: 11px;
    margin-right: 15px;
}

.switch-info2 {
    float: right;
    font-size: 11px;
    margin-right: 10px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #39ae3f;
}

input:focus + .slider {
    box-shadow: 0 0 1px #39ae3f;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.tag_span_name {
    width: auto;
}

/* table test */

.metadata-table {
    font-size: 14px;
    position: relative;
    display: block;
    width: 100%;
}

.keyvalue-table {
    font-size: 14px;
    position: relative;
    display: block;
    width: 100%;
}

.metadata-table-header {
    background-color: #39ae3f;
    color: white;
    width: 100%;
    height: 38px;
    padding: 10px 15px;
}


.keyvalue-table-header {
    background-color: #39ae3f;
    color: white;
    width: 100%;
    height: 38px;
    padding: 10px 15px;
}

.metadata-table-header div {
    float: left;
}


.keyvalue-table-header div {
    float: left;
}

.type-cell {
    width: 6%;
    margin-right: 50px;
}

.type-cell-inp {
    width: 6%;
    margin-right: 50px;
}

.tag-cell {
    min-width: 9%;
    max-width: 15%;
    margin-right: 15px;
}

.tag-cell-inp {
    min-width: 9%;
    max-width: 15%;
    margin-right: 15px;
}

.creator-cell {
    width: 19%;
    margin-right: 15px;
}

.creator-cell-inp {
    width: 19%;
    margin-right: 15px;
}

.source-cell {
    width: 11%;
    margin-right: 15px;
}

.date-cell {
    width: 18%;
    margin-right: 15px;
}

.validated-cell {
    float: right;
    width: 12%;

}
.validated-cell-inp {
    float: right;
    width: 12%;

}


.key-cell {
    width: 13%;
    margin-right: 10px;
}

.value-cell {
    min-width: 13%;
    max-width: 15%;
    margin-right: 5px;
}

.creator-keyvalue-cell {
    width: 20%;
    margin-right: 10px;
}

.date-keyvalue-cell {
    width: 18%;
    margin-right: 10px;
}

.roi-table-body div {
    float: left;
}

.roi-table-body {
    background-color: rgba(245, 246, 250,1.0);
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    /*width: 80%;*/
}

.table-body {
    background-color: rgba(245, 246, 250,1.0);
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 158px;
    /*width: 80%;*/
}

.keyvalue-table-body {
    background-color: rgba(245, 246, 250,1.0);
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 158px;
    /*width: 80%;*/
}

.table-body-row {
    border-bottom: 1px solid rgba(64,64,64,0.25);
    background-color: white;
    padding: 10px 15px 15px 15px;
    height: 40px;
    width: 100%;
    cursor: pointer;
}

.keyvalue-table-body-row {
    border-bottom: 1px solid rgba(64,64,64,0.25);
    background-color: white;
    padding: 12px 15px 15px 15px;
    height: 40px;
    width: 100%;
    cursor: pointer;
}

.table-body div {
    float: left;
}


.keyvalue-table-body div {
    float: left;
}

.metadata-remove-row {
    z-index: 400;
    margin-right: 10px;
    float: right;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.removebutton {
    margin-left: 8px;
    float: right;
    cursor: pointer;
}

.metadata-remove-row i {
    font-size: 16px;
}

.metadata-remove-row:hover {
    color: red;
}


.image-info {
    position: absolute;
    display: none;
    bottom: 0;
    height: auto;
    width: 100%;
}
#keyvalue-info {
    position: absolute;
    display: none;
    bottom: 0;
    height: auto;
    width: 100%;
}
.roidata-info {
    position: absolute;
    display: none;
    bottom: 0;
    height: auto;
    width: 100%;
}

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
    display: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    width: auto;
    margin: 10px 0;
    padding: 6px;
    border-radius: 3px 3px 3px 3px;
}
.info-msg {
    color: #059;
    background-color: #BEF;
}
.success-msg {
    color: #270;
    background-color: #DFF2BF;
}
.warning-msg {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error-msg {
    color: #D8000C;
    background-color: #FFBABA;
}

#success-msg-upload, #error-msg-upload {
    position: absolute;
    top: 50px;
    right: 8px;
}

#success-msg-create-user, #error-msg-create-user {

}

#error-msg-xy, #success-msg-xy, #error-msg-keyval, #success-msg-keyval,
#error-msg-valid, #success-msg-valid, #error-msg-diradd, #succes-msg-diradd,
#error-msg-meta-test, #success-msg-meta-test, #success-msg-roi,
#error-msg-roi, #success-msg-gen, #error-msg-gen {
    position: absolute;
    top: 2px;
    left: 10px;
}

.validate-button {
    z-index: 300;
}

.validate-button:hover {
    text-decoration: underline;
}

.drop-type {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}
.drop-type a:hover {background-color: #ddd;}

#drop-btn {
    background-color: #39ae3f;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.drop-btn:hover, .drop-btn:focus {
    background-color: #2980B9;
}

#drop-opt {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#drop-opt a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}



#drop-valid-btn {
    background-color: #39ae3f;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.drop-btn:hover, .drop-btn:focus {
    background-color: #2980B9;
}

#drop-valid-opt {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#drop-valid-opt a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.insufficient-permissions {
    color: white;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
}

.create-user-form {
    color: white;
    left: 1.5%;
    position: absolute;
    top: 100px;
}

.create-user-p {
    margin-left: 2px;
    margin-bottom: 10px;
    letter-spacing: 2px

}

.new-user-email, .new-user-username, .new-user-password {
    margin-bottom: 10px;
    border-radius: 3px;
    color: black;
    background: white;
    padding: 10px;
    width: 220px;
    border: 3px solid lightgray;
    font-size: 20px;
}

.new-user-role {
    width: 18px;
    height: 18px;
}

.new-user-role span {
    margin-top: -5px;
    letter-spacing: 2px;
}

.create-user-form label {
    letter-spacing: 2px;
}

#second-radio-btn {
    margin-left: 10px;
}

.create-new-user-btn {
    letter-spacing: 2px;
    background-color: gray;
    color: white;
    width: 95px;
    margin-top: 10px;
    border: none;
    font-size: 16px;
    height: 42px;
    border-radius: 3px;
    transition: all 0.2s ease-out;
}

.status-message {
    margin-top: 5px;
    display: none;
}

