<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script type="text/javascript" th:src="@{js/signOut.js}"></script>
    <script type="text/javascript" th:src="@{js/userCreation.js}"></script>
    <link th:href="@{https://fonts.googleapis.com/css?family=Ubuntu}" rel="stylesheet">
    <link rel="icon" type="image/png" th:href="@{images/favicon.png}">

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>
<nav>
    <a th:href="@{/home}">
        <img th:src="@{images/lambertinstruments.png}" alt="Lambert Instruments" class="lamblogo_main">
    </a>
</nav>

<form id="create-user-form" class="create-user-form" th:if="${role == 'ADMIN'}" method="post">
    <p class="create-user-p">Create a new user</p>

    <input class="new-user-email" type="email" name="new-email" id="new-email" placeholder="email" required/><br>

    <input class="new-user-username" type="text" name="new-username" id="new-username" placeholder="username" required/><br>

    <input class="new-user-password" type="password" name="new-password" id="new-password" placeholder="password" required/><br>

    <label><input id="first-radio-btn" class="new-user-role" type="radio" value="USER" name="new-role" checked="checked"/><span>&nbsp;User</span></label>
    <label><input id="second-radio-btn" class="new-user-role" type="radio" value="ADMIN" name="new-role" /><span>&nbsp;Admin</span></label><br>
    <p class="status-message"></p>

    <input class="create-new-user-btn" type="submit" value="CREATE" disabled/>
</form>


<p th:if="${role == 'USER'}" class="insufficient-permissions"><strong>Insufficient permissions</strong></p>

</body>
</html>