<!--
author: Olle, Kylie and Willemijn
-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MicrobeView</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.min.js}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
          crossorigin="anonymous">
    <link rel="icon" type="image/png" th:href="@{images/favicon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/cropper.css}"/>

    <script type="text/javascript" th:src="@{js/cropper.js}"></script>
    <script type="text/javascript" th:src="@{js/raphael.js}"></script>
    <script type="text/javascript" th:src="@{js/signOut.js}"></script>
    <script type="text/javascript" th:src="@{js/imageClicking.js}"></script>
    <script type="text/javascript" th:src="@{js/ROIdrawing.js}"></script>
    <script type="text/javascript" th:src="@{js/processMetadata.js}"></script>

    <script type="text/javascript" th:src="@{js/fileUpload.js}"></script>
    <script type="text/javascript" th:src="@{js/directoryView.js}"></script>
    <script type="text/javascript" th:src="@{js/directoryAdding.js}"></script>
    <script type="text/javascript" th:src="@{js/directoryRenaming.js}"></script>
    <script type="text/javascript" th:src="@{js/imageOptions.js}"></script>
    <script type="text/javascript" th:src="@{js/directoryDeleting.js}"></script>
    <script type="text/javascript" th:src="@{js/searchFunctionality.js}"></script>

    <link th:href="@{https://fonts.googleapis.com/css?family=Ubuntu}" rel="stylesheet">

    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
    <nav>
        <a th:href="@{/home}">
            <img th:src="@{images/lambertinstruments.png}" alt="Lambert Instruments" class="lamblogo_main">
        </a>
<!--        <div id="nav-icon4">-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--            <span></span>-->
<!--        </div>-->
        <div class="menu-div">
            <span class="hello_message" th:if="${role == 'ADMIN'}">Welcome, ADMIN</span>
            <span class="hello_message" th:if="${role == 'USER'}">Welcome, USER</span>

            <a class="signout_button">sign out</a>
            <a th:if="${role == 'ADMIN'}" th:href="@{/create-user}" class="create-user-button">create user</a>
        </div>
    </nav>

    <div class="div_main">

        <div class="div_left">
            <h2>BROWSER</h2>

<!--            &lt;!&ndash;Shows the listing of the folders and files&ndash;&gt;-->

  <!--Search bar, not working for now but should be uncommented-->
            <!--<input type="text" id="search" name="search" placeholder="Search for tags">-->


            <!--<input type="text" id="taginp_general" name="tag" class="tag_input" required>-->
            <!--<input id="submit_metadata_general" class="submit_metadata" type="submit" value="SAVE TAG"/>-->

            <div class="row" id="overall_view">
                <div id="breadcrumb" class="breadcrumb"></div>
                <div id="back_folder" name="back_folder"></div>
                <div id="directory_folders" class="directory_folders"></div>
                <div id="directory_files" class="directory_files"></div>
                <!--Needs to be uncommented for search functionality-->
                <!--<div id="directory_files2" class="directory_files"></div>-->

            </div>

            <div class="fileupload">
                <div class="tooltip"><i class="fas fa-info-circle"></i>
                    <span class="tooltip_text">
                        <strong>Can be multiple files, with a joint maximum size of 60MB. When selecting files, think of filename(s) and how informative it is, but also keep the length of the filename in mind.</strong><br>

                    </span>
                </div>
                <form method="POST" class="upload_form" id="upload_form" enctype="multipart/form-data" action="#">
                    <button type="submit" class="upload_button" id="upload_button">UPLOAD</button>
                    <input type="file" name="file" id="file" accept=".jpg, .jpeg, .png, .tiff" class="upload_file" multiple required>
                    <label for="file"><p id="upload_file_text" class="upload_file_text">SELECT IMAGE(S)</p></label>
                </form>
            </div>
            <div class="loader"></div>

            <div class="dir_options_div">
                <!--div that shows up for creating a new folder-->
                <div name="directory" id="directory" class="directory" hidden>
                    <form class="dir_upload_form" id="dir_upload_form" method="post" action="#">
                        <input type="text" id="newdir" class="newdir" name="newdir" placeholder="Folder name"/>
                    </form>
                </div>
                <button id="dir_options_create" class="dir_options_create">CREATE FOLDER</button>

                <div id="rename_dir" class="rename_dir" name="rename_dir" hidden>
                    <form class="rename_form" id="rename_form" method="post" action="#">
                        <input type="text" id="new_dir_name" name="new_dir_name"/>
                    </form>
                </div>
                <div id="dir_options">
                    <div id="fail_rename" class="fail_rename"></div>
                    <div id="roi_message" class="roi_message"></div>
                    <button class="dir_options" id="dir_options_rename">RENAME</button>
                    <button class="dir_options" id="dir_options_delete">DELETE</button>
                </div>

                <div id="rename_img" class="rename_img" name="rename_img" hidden>
                    <form class="img_rename_form" id="img_rename_form" method="post" action="#">
                        <input type="text" id="new_img_name" name="new_img_name"/>
                    </form>
                </div>
                <div id="img_options" hidden>
                    <button class="img_options" id="img_option_rename">RENAME</button>
                    <button class="img_options" id="img_option_delete">DELETE</button>
                </div>
            </div>
        </div>

        <div class="div_right">


            <div class="options_buttons">
                <span class="create-header">CREATE</span>

                <button id="create_xytag" class="create_xytag">POSITIONAL TAG</button>
                <button id="create_generaltag" class="create_generaltag">GENERAL TAG</button>
                <button id="draw_rect_roi" class="draw_rect_roi">ROI</button>
                <button id="keyValue" class="keyVal">KEY-VALUE PAIRS</button>


                <!--BUTTONS-->
                <span class="show-metadata">SHOW</span>
                <label class="switch">
                    <input id="togBtn" type="checkbox">
                    <span class="slider round"></span>
                </label>
                <label class="switch2">
                    <input id="togBtn2" type="checkbox">
                    <span class="slider round"></span>
                </label>
                <span class="switch-info">IN TABLE&nbsp;&nbsp;&nbsp;&nbsp;ON IMAGE</span>

                <label class="switch3">
                    <input id="togBtn3" type="checkbox">
                    <span class="slider round"></span>
                </label>

                <label class="switch3">
                    <input id="togBtn4" type="checkbox">
                    <span class="slider round"></span>
                </label>
                <span class="switch-info2">ROI(s) &nbsp; KEY-VALUE(s)</span>

                <!--<span id="keyValue" class="keyValue">Show key-value options</span>-->

                <button id="save_roi" class="save_roi" hidden>SAVE ROI</button>
                <button id="cancel_roi" class="save_roi" hidden>CANCEL</button>

            </div>

            <h3>EDITOR</h3>
            <div id="div_right_placeholder" class="div_right_placeholder">
                Select an image from the left panel<br>
                to display it in full resolution here
            </div>
            <!-- The expanding image container -->

            <div id="container" class="container">
                <div id="tagged" class="tag">
                     <span id="span-id"></span>
                 </div>
                <div class="existing-metadata-tags">
                </div>
                    <img alt="bigImage" class="expandedImg" id="expandedImg">
                <p id="imgtext" style="position: absolute">HELLO</p>

                <span id="closebtn" class="closebtn">&times;</span>
            </div>

            <div id="keyValueDiv">
                <form id="keyValueForm" name="keyvalueform" class="keyvalueform" method="post" action="#">
                    <div class="keyvaldiv">
                        <input type="text"  name="added_key" class="added_key" placeholder="pH" required>
                        <label class="input-remove-button">x</label>
                        <input type="text" id="added_value" name="added_value" class="added_value" placeholder="value"required >
                    </div>
                    <div class="keyvaldiv">
                        <input type="text" name="added_key" class="added_key" placeholder="Oxygen" required>
                        <label class="input-remove-button">x</label>
                        <input type="text" name="added_value" class="added_value" placeholder="value" required>
                    </div>
                    <div class="keyvaldiv">
                        <input type="text"name="added_key" class="added_key" placeholder="CO2" required>
                        <label class="input-remove-button">x</label>
                        <input type="text" name="added_value" class="added_value" placeholder="value" required>
                    </div>
                    <div class="keyvaldiv">
                        <input type="text"name="added_key" class="added_key" placeholder="Temperature" required>
                        <label class="input-remove-button">x</label>
                        <input type="text" name="added_value" class="added_value" placeholder="value"required>
                    </div>
                    <!--<span id="add_key_value">Add Another key-value pair</span> <br/>-->
                    <button id="submit_key_value" class="key-value-btn" type="submit" disabled>Submit</button>
                    <!--<button id="submit_key_value" class="key-value-btn" type="submit">Submit</button>-->
                    <button id="add_key_value" class="key-value-btn">Add new field</button>
                </form>
            </div>

            <div id="Metadata" class="metadata-input">
                <form id="metadataform" name="metadataform" class="metadataform" method="post" action=#>
                        <input type="text" id="taginp" name="tag" class="tag_input" required>
                        <input id="submit_metadata" class="submit_metadata" type="submit" value="SAVE TAG"/>
                </form>
            </div>
            <div id="Metadata2" class="metadata-input">
                <form id="metadataform_general" name="metadataform" class="metadataform" method="post" action=#>
                    <input type="text" id="taginp_general" name="tag" class="tag_input" required>
                    <input id="submit_metadata_general" class="submit_metadata" type="submit" value="SAVE TAG"/>
                </form>
            </div>
            <p class="click_on_image">
                Position the red pointer to your liking by clicking anywhere on the image.<br>
                When you're satisfied with the pointer's position, give it a name!
            </p>
            <div class="image-info">
                <p class="metadata_upload_feedback"></p>

                <div id="metadata-table" class="metadata-table">

                    <div class="drop-type">
                        <button id="drop-btn">Tag Type</button>
                        <div id="drop-opt">
                            <a href="#" class="option" id="pos">Positional</a>
                            <a href="#" class="option" id="gen">General</a>
                            <a href="#" id="all">All</a>
                        </div>
                    </div>
                    <input type="text" id="searchBarTag" placeholder="Filter per name.." title="Type in a name">
                    <input type="text" id="searchBar" placeholder="Filter per creator.." title="Type in a name">
                    <!--<input type="text" id="searchBarValid" placeholder="valid: yes or no.." title="Type in a name">-->
                    <div class="drop-type">
                        <button id="drop-valid-btn">Validated</button>
                        <div id="drop-valid-opt">
                            <a href="#" class="option" id="val">Validated</a>
                            <a href="#" class="option" id="non-val">not-validated</a>
                            <a href="#" id="all-valid">All</a>
                        </div>
                    </div>
                    <div class="metadata-table-header">
                        <div id="type-cell-header" class="type-cell">Type</div>
                        <div id="tag-cell-header" class="tag-cell">Tag</div>
                        <div id="creator-cell-header" class="creator-cell">Creator</div>
                        <div id="source-cell-header" class="source-cell">Source</div>
                        <div id="date-cell-header" class="date-cell">Date of creation</div>
                        <div id="validated-cell-header" class="validated-cell">Validated</div>

                    </div>
                    <div class="table-body">
                    </div>
                </div>
            </div>

            <div class="roidata-info">
                <div class="metadata-table">
                    <div class="metadata-table-header">
                        <div id="image-header" class="source-cell">Image</div>
                        <div id="X-header" class="source-cell">X</div>
                        <div id="Y-header" class="source-cell">Y</div>
                        <div id="Width-header" class="source-cell">Width</div>
                        <div id="Height-header" class="source-cell">Height</div>
                    </div>
                    <div class="roi-table-body">
                    </div>
                </div>
            </div>

              <div id="keyvalue-info">
                <div class="keyvalue-table">
                    <div class="keyvalue-table-header">
                        <div id="key-cell-header" class="key-cell">Key</div>
                        <div id="value-cell-header" class="value-cell">Value</div>
                        <div id="keyvalue-creator-cell-header" class="creator-keyvalue-cell">Creator</div>
                        <div id="keyvalue-source-cell-header" class="source-cell">Source</div>
                        <div id="date-keyvalue-cell-header" class="date-keyvalue-cell">Date of creation</div>
                        <div class="validated-cell">Validated</div>

                    </div>
                    <div class="keyvalue-table-body">
                    </div>
                </div>
              </div>
<!--            <div id="error-msg-valid" class="error-msg">-->
<!--            <i class="fa fa-times-circle"></i>&nbsp;Error: something went wrong while trying to display the positional image tags-->
<!--            </div>-->
        </div>
    </div>
    <div id="cover-spin"></div>
</body>
</html>
