<!--
author: Olle, Kylie and Willemijn
-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script type="text/javascript" th:src="@{js/signOut.js}"></script>
    <link th:href="@{https://fonts.googleapis.com/css?family=Ubuntu}" rel="stylesheet">
    <link rel="icon" type="image/png" th:href="@{images/favicon.png}">

</head>

<body>
<div class="login-div">
    <p class="login-text">To be able to use this tool please login</p>
    <form class="login-form" th:action="@{/login}" method="post">

        <table>
            <tr>
                <td><input class="text_username" type="email" name="username" id="username" placeholder="email" required/></td><br>
            </tr>
            <tr>
                <td><input class="text_password" type="password" name="password" id="password" placeholder="password" required/></td><br>
            </tr>
            <tr>
                <td>
                <div class="error" th:if="${param.error}">
                    <p>Wrong credentials! Please try again</p>
                </div>
                </td>
            </tr>
            <tr>

                <td><input class="login_button" type="submit" tag_value="LOGIN" />

                </td>
            </tr>
        </table>

<!--        <p class="forgotpw">Forgot your password? Click here</p>-->
    </form>
</div>

<footer>
    <img th:src="@{/images/lambertinstruments.png}" alt="Lambert Instruments" class="lamblogo_footer">
    <img th:src="@{/images/Hanze-Logo.png}" alt="Hanzehogeschool Logo" class="hanze_footer">
</footer>

</body>

</html>