<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>metadata test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/insertTest.js}"></script>
    <script type="text/javascript" th:src="@{/js/getMetadata.js}"></script>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div th:if="${metadata}">
<h2 th:text="'The requested metadata: [' + ${metadata} + ']' "></h2>
</div>
<div th:if="${metadataResult}">
    <h2 th:text="'The requested metadata of the image: [' + ${metadataResult} + ']' "></h2>
</div>


<p id="testdiv"></p>

<form id="metadataform" method="POST" action="#">
    X-Y METADATA TEST<br>
    x-coord<br>
    <input type="number" name="leftpx" id="xcoord_input"><br>
    y-coord<br>
    <input type="number" name="toppx" id="ycoord_input"><br>
    tag<br>
    <input type="text" name="tag" id="tag_input"><br>
    source<br>
    <input type="text" name="imageName" id="source_input"><br>
    <input type="submit" id="insert_submit" value="insert">
</form>


<form id="metadataform2" method="POST" action="#">
    GENERAL METADATA TEST<br>
    x-coord<br>
    <input type="number" name="leftpx" id="xcoord_input2" disabled><br>
    y-coord<br>
    <input type="number" name="toppx" id="ycoord_input2" disabled><br>
    tag<br>
    <input type="text" name="tag" id="tag_input2"><br>
    source<br>
    <input type="text" name="imageName" id="source_input2"><br>

    <input type="submit" id="insert_submit2" value="insert">
</form>

</body>
</html>
